body {
    font-family: $mainFont;
    font-style: normal;
    font-size: 14px;
    color: var(--main-color);
}

.container {
    padding: 0 15px;
    width: 1200px;
    // border: 1px solid red;
    margin: 0 auto;
}

.section__hidden-elem {
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    margin-top: -1px;
} 